html {
    font-size: 16px;
    scrollbar-width: none;
}
body {
    margin: 0 auto;
    background-color: #fff8e6;
}
nav {
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
nav > .wrap {
    padding: 1em;
    margin: auto;
    max-width: 900px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.wrap > h1 {
    font-size: 1.2em;
}

.wrapper {
    max-width: 1000px;
    margin-top:64px;
    margin: auto;
    background-color: #FFFFFF;
    box-shadow: #000;
    
    box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.25), -4px 4px 16px 0px rgba(0, 0, 0, 0.25);
}
h1, h3 {
    font-family: 'Krona One', sans-serif;
    margin: 0;
}
a > h3 {
    font-size: 1em;
}
.hero {
    margin-top: 82px;
    display: block;
    width: 100%;
    height: 22em;
    background-image:url(../assets/hero.png);
    background-size:cover;
    background-position: center;

} 
section.owner {
    margin: 1em 1em 0 1em;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.btn-container {
    max-width: 30em;
    margin: auto;
    padding: 1em 1em 2em 1em;
}
.btn-container > a {
    display: flex;
    padding: 0.625rem;
    margin:2em 0 1em 0;
    text-decoration: none;
    font-size: .75em;
    color: #000;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    background: #D8AB39;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.btn-container > a:hover {
    background: #E5C981;
}
.btn-container > a:onClick {   
    background: #BC9A42;
}
a.button {
    margin: 0;
    font-size: .8em;
}
.owner h1 {
    margin:0 0 1em 0;
    font-size: 1.2em;
}
.img-container {
  overflow: hidden;
  max-width: 22.375em;
  margin: auto;
}
img.inkboy {
    display: block;
    margin: auto;
    width: 100%;
    background-image:url(../assets/inkboy.png);
    background-size:cover;
    background-position: center;
}
.owner h1 {
    text-align: center;
}
.owner > p {
    margin: auto;
    padding: 1em 1em 0 1em;
    color: #000;
    font-family: Istok Web;
    font-size: .9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 22em;
}
.heading {
    background-color: #000;
    color: #FFFFFF;
    font-size: .5em;
    
    margin-top: 2em;
    padding: 2em;
}
.heading > h1 {
    font-size: 1.8em;
    text-align: center;
}
img.inkpath {
    display: block;
    width: 100%;
    margin: auto;
    background-image:url(../assets/inkboy.png);
    background-size:cover;
    background-position: center;
}
.heading2 {
    background-color: #D8AB39;
    color: #000000;
    font-size: .75em;
    padding: 2em;
    margin-top: 2em;
    text-align: center;
}
.heading1 > h1 {
    max-width: 600px;
    margin: auto;
    text-align: center;
}
.heading2 > h1 {
    font-size: 1.5em;
}
img.blaze {
    width: 100%;
    margin: auto;
}



footer {
    background-color: #000;
    color: #FFFFFF;
    padding:  1em 1em 3em 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-align: right;
}
.foot-wrap {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.foot-wrap > h1 {
    font-size: 1.2em;
}
.foot-wrap > h3 {
    font-size: .8em;
    padding-top: 1em;
}
p.center {
    padding: 1em 0 0 0;
    white-space: nowrap;
    text-align: center;
}